# Project-specific ignores
00-AI-Insights-NoGit/
.specstory/

# OS-specific files
.DS_Store
.aider*

# Environment files
.env.*
.env

# Compiled output
dist/

# SQLite database files
*.sqlite

00-AI-Init/
01-meta/

00-archive/

auth.config.json